@{
    ViewBag.Title = "Home Page";
}

<h3>Welcome to TimeTrackr, would you like to...</h3>
<ol class="round">
    <li class="one">
        @Html.ActionLink("View your tracked time?", "Index", "Task")
    </li>
    <li class="two">
        @Html.ActionLink("Create a new task to track?", "Create", "Task")
    </li>
     <li class="three">
        @Html.ActionLink("Display tasks by their category?", "TasksByCategory", "Task")
    </li>
    <li class="four">
        @Html.ActionLink("Display tasks by date?", "TasksByDate", "Task")
    </li>
</ol>
